@media only screen and (max-width: 500px) {
  body {
    padding-left: 5px;
    padding-right: 5px;
  }

  button {
    margin-top: 7px;
    margin-bottom: 5px;
  }

  span {
    font-size: 14px;
  }
}
