* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to right top, #e0f2be, #c4eaaf, #a2e3a4, #79dc9f, #3ad49f);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  
}

.container {
  background-color: #fff;
  width: 550px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
}

.title {
 margin: 10px 5px;
 color: #004364
}

.input-cep {
  width: 240px;
  height: 25px;
  padding: 12px;
  outline: none;
  border-radius: 20px;
  border: 1px solid  lightgrey;
}

button {
  background-color: #14648a;
  cursor: pointer;
  color: #fff;
  border: 1px solid  lightgrey;
  border-radius: 20px;
  height: 30px;
  margin-left: 1px;
  width: 90px;
  text-align: center;
  font-weight: 700;
}

button:hover {
  background-color: #cfdeed;
  color: #002036;
}

.cep-pesquisado {
 margin-top: 5px; 
 margin-right:25px;
 font-weight: 700;
 color: #00b1db;
 font-size: 13px;
}

.container-input-cep {
  text-align: center;
}

.container-endereco {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

span {
  font-weight: 700;
  color: #004364
}

.endereco {
  margin-left: 5px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  width: 250px;
}

.container-link-api {
  display: flex;
  justify-content: right;
  cursor: pointer;
  padding-bottom: 10px;
}

.link-api {
  margin-right: 25px;
  text-decoration: none;
  color: #004364;
  font-size: 12px;
  font-weight: 700;
}